<!DOCTYPE html>
<html>
  <head>
    <title>Garage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <main class="min-h-screen container mx-auto max-w-7xl px-6 lg:px-8 flex flex-col">
      <div class="flex-none">
        <%#= render "layouts/header" %>
      </div>
      <div class="flex-1">
        <%= yield %>
      </div>
      <div class="flex-none">
        <%#= render "layouts/footer" %>
      </div>
    </main>
  </body>
</html>
